/* stylesheet used for LogIn and SignUp pages*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --accent-color: #317442;
    --base-color: white;
    --text-color: #1f472f;
    --input-color: #F3F0FF;
}
*{
    margin: 0;
    padding: 0;
}
html{
    font-family: Poppins, Segoe UI, sans-serif;
    font-size: 12pt;
    color: var(--text-color);
    text-align: center;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url(assets/background.jpg);
    background-size: cover;
    background-position: right;
    overflow: hidden;
}
.wrapper{
    box-sizing: border-box;
    background-color: var(--base-color);
    height: 80vh;
    width: max(40%, 600px);
    padding: 10px;
    border-radius: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.15);
}



h1{
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
}
form{
    width: min(400px, 100%);
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
form > div{
    width: 100%;
    display: flex;
    justify-content: center;
}
form label{
    flex-shrink: 0;
    height: 50px;
    width: 50px;
    background-color: var(--accent-color);
    fill: var(--base-color); /* person and lock symbol color */
    color: var(--base-color); /* @ symbol color */
    border-radius: 10px 0 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem; /* @ symbol font size */
    font-weight: 500; /* @ symbol font weight */
}
form label svg {
    fill: var(--base-color) !important;
}
form input{
    box-sizing: border-box;
    flex-grow: 1;
    min-width: 0;
    height: 50px;
    padding: 1em;
    font: inherit;
    border-radius: 0 10px 10px 0;
    border: 2px solid var(--input-color);
    border-left: none;
    background-color: var(--input-color);
    transition: 150ms ease;
}
form input:hover{
    border-color: var(--accent-color);
}
form input:focus{
    outline: none;
    border-color: var(--text-color);
}
div:has(input:focus) > label{
    background-color: var(--text-color);
}
form input::placeholder{
    color: var(--text-color);
}
 button{
    margin-top: 10px;
    border: none;
    border-radius: 1000px;
    padding: .85em 4em;
    background-color: var(--accent-color);
    color: var(--base-color);
    font: inherit;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: 150ms ease;
    background: linear-gradient(135deg, var(--accent-color), #1f472f);
}

 .join-button {
    border-radius: 10px;
    padding: 0.5em 1em;
}
 


  button:hover{
    background-color: var(--text-color);
}
  button:focus{
    outline: none;
    background-color: var(--text-color);
    color: var(--accent-color);
}
a{
    text-decoration: none;
    color: var(--accent-color);
}
a:hover{
    text-decoration: underline;
}

#list {
    overflow-y: auto;
    background-color: var(--input-color);
    height: 40vh; /* Adjust the height as needed */
    width: max(40%, 300px);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.team-list {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}

.team-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    background-color: var(--input-color);
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.team-name {
    font-size: 1.2rem;
    font-weight: 500;
}





@media(max-width: 1100px){ /* adjustments for mobile/tablet viewing */
    .wrapper{
        width: min(600px, 100%);
        border-radius: 0;
    }
}